html, body {
  background-color: #333;
  color: #DDD;
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Helvetica Neue", Arial;
  -webkit-app-region: drag;
  cursor: default;
}
main {
  margin: 0 auto;
  padding: 3em;
  text-align: center;
}

/* h1 {
  display: none;
}
h2 {
  display: none;
} */
